In [13]:
import pandas as pd

In [15]:
notas = pd.read_csv('C:/Users/sneve/Documents/data-science-analise-visualizacao/datasource/aula0/ml-latest-small/ratings.csv')

In [16]:
display(notas)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [21]:
# Exibir as 5 primeiras notas de uma tabela
notas.head()

   usuarioId  filmeId  nota  data/momento
0          1        1   4.0     964982703
1          1        3   4.0     964981247
2          1        6   4.0     964982224
3          1       47   5.0     964983815
4          1       50   5.0     964982931

In [22]:
notas.shape

(100836, 4)

In [23]:
# Trocando nome das colunas
notas.columns = ["usuarioId", "filmeId", "nota", "data/momento"]
display(notas)

        usuarioId  filmeId  nota  data/momento
0               1        1   4.0     964982703
1               1        3   4.0     964981247
2               1        6   4.0     964982224
3               1       47   5.0     964983815
4               1       50   5.0     964982931
...           ...      ...   ...           ...
100831        610   166534   4.0    1493848402
100832        610   168248   5.0    1493850091
100833        610   168250   5.0    1494273047
100834        610   168252   5.0    1493846352
100835        610   170875   3.0    1493846415

[100836 rows x 4 columns]

In [29]:
# Visualizar uma determinada sÃ©rie de dados (Exemplo usando coluna)
notas['nota']

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [25]:
# Devolve valores Ãºnicos de uma sÃ©rie de dados
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [26]:
# Contagem de todos os valores
notas['nota'].count()

100836

In [27]:
# Contagem de quantas vezes aparece aquele determinado valor
notas['nota'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: nota, dtype: int64

In [28]:
# MÃ©dia de todas as notas
notas['nota'].mean()

3.501556983616962