# Análise exploratória de dados e mais gráficos

In [27]:
import pandas as pd

In [28]:
filmes = pd.read_csv('C:/Users/sneve/Documents/data-science-analise-visualizacao/datasource/aula0/ml-latest-small/movies.csv')
notas = pd.read_csv('C:/Users/sneve/Documents/data-science-analise-visualizacao/datasource/aula0/ml-latest-small/ratings.csv')

notas.columns = ['usuarioId', 'filmeId', 'nota', 'momento']

In [29]:
display(filmes)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [30]:
filmes.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [31]:
filmes.columns = ['filmeId', 'titulo', 'genero']
display(filmes)

,filmeId,titulo,genero
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [32]:
# Como filtrar um determinado dado de um DataFrame
notas.query('filmeId==1')

       usuarioId  filmeId  nota     momento
0              1        1   4.0   964982703
516            5        1   4.0   847434962
874            7        1   4.5  1106635946
1434          15        1   2.5  1510577970
1667          17        1   4.5  1305696483
...          ...      ...   ...         ...
97364        606        1   2.5  1349082950
98479        607        1   4.0   964744033
98666        608        1   2.5  1117408267
99497        609        1   3.0   847221025
99534        610        1   5.0  1479542900

[215 rows x 4 columns]

# Analisando dados de um filme específico

In [35]:
# Obtendo uma série a partir de uma filtragem de DataFrame
notas.query('filmeId==1').nota

# Obtendo a média de uma série a partir de uma filtragem de DataFrame
notas.query('filmeId==1').nota.mean()

3.9209302325581397

In [47]:
# Agrupando os dados a partir de uma determinada coluna
filme_grupo = notas.groupby('filmeId')
medias_por_filme = filme_grupo.mean()
# display(filme_grupo_media)

# Agrupando os dados a partir de uma determinada coluna, devolvendo uma determinada Série
medias_notas_por_filme = filme_grupo_media.nota
display(medias_notas_por_filme)

filmeId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: nota, Length: 9724, dtype: float64